player-connection-mode=Listen
player-connection-guid=1944322851
player-connection-debug=0
player-connection-project-name=SkillShot 2025
player-connection-ip=192.168.139.108
player-connection-ip=172.29.0.1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=2a128399b2c446928d5a3ee5ace9708b
