player-connection-mode=Listen
player-connection-guid=4128503828
player-connection-debug=0
player-connection-project-name=SkillShot 2025
player-connection-ip=192.168.66.108
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=80d370b47bf6423d9c1fea6cdcaab031
